<!-- <% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |mess| %>
    <h2><%= mess %></h2>
  <% end %>
<% end %> -->

<%= semantic_form_for @product do |f| %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price, min: 0.01 %>
  <%= f.input :category %>
  <%= f.input :country %>
  <%= f.input :published %>
  <%= f.action :submit %>
<% end %>
